<div class="header">Downloads Queue</div>

<div id="downloadsList" class="downloads-list-container">
    <table class="downloads-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>Terrain Type</th>
                <th>Number of chunks</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $.get("/get_downloads").done(function(result) {
        if (result["success"] == 1) {
            for (var i = 0; i < result["data"].length; i++) {
                var row = $("<tr>");
                var row_data = result["data"][i];

                var progress_bar =
                    "<div class=\"progress-container\">" +
                        "<div id=\"progress_" + i + "\" class=\"progress\" style=\"height: 30px; width: " + row_data["progress"] + "%\">" +
                            row_data["progress"] +
                        "%</div>" +
                    "</div>";
                
                row.append("<td data-title=\"Name\">" + row_data["name"] + "</td>");
                row.append("<td data-title=\"Progress\">" + progress_bar + "</td>");
                row.append("<td data-title=\"Status\" id=\"status_\"" + i + ">" + row_data["status"] + "</td>");
                row.append("<td data-title=\"Start Date\">" + row_data["start"] + "</td>");
                row.append("<td data-title=\"Terrain Type\">" + row_data["terrain"] + "</td>");
                row.append("<td data-title=\"Number of chunks\">" + row_data["num_chunks"] + "</td>");
                row.append("<td data-title=\"View\"><div class=\"button\">View</div></td>");
                row.append("<td data-title=\"Stop\"><div class=\"button\">Stop</div></td>");

                $("#downloadsList tbody").append(row);
            }

            setInterval(function() {
                $.get("/get_downloads").done(function(result) {
                    if (result["success"] == 1) {
                        for (var i = 0; i < result["data"].length; i++) {
                            var row_data = result["data"][i];

                            value = Math.round(row_data["progress"] * 100) / 100

                            $("#progress_" + i).css("width", value + "%");
                            $("#progress_" + i).html(value + "%");
                            $("#status_" + i).html(row_data["status"])
                        }
                    } else {
                        alert("Something went wrong while getting downloads");
                    }
                });
            }, 1000);
        } else {
            alert("Something went wrong while getting downloads");
        }
    });
</script>