<div id="map"></div>'
<div class="inputs">
    <input type="text" id="name" placeholder="Map name" />
    <input type="text" id="terrain" placeholder="Terrain type" />
    <div id="submit" class="button">DOWNLOAD</div>
</div>

<script>
var marker1, marker2;
var colors = "#A155B9";

mapboxgl.accessToken = 'YOUR_KEY_HERE';

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/outdoors-v11',
    center: [-73.9876, 40.7661],
    zoom: 9
});

var Draw = new MapboxDraw();

map.on('click', function(e) {
    var options = {
        steps: 80,
        units: 'kilometers'
    }

    if (marker1 === undefined) {
        marker1 = new mapboxgl.Marker({ draggable: true, color: colors })
            .setLngLat(e.lngLat)
            .addTo(map);
    } else if (marker2 === undefined) {
        marker2 = new mapboxgl.Marker({ draggable: true, color: colors })
            .setLngLat(e.lngLat)
            .addTo(map);
    }
});

$("#submit").click(function() {
    var name = $("#name").val();
    var terrain = $("#terrain").val();

    $("#name").css("border", "none");
    $("#terrain").css("border", "none");

    if (marker1 === undefined || marker2 === undefined) {
        alert("Add two markers to the map.");
    } else if (name === "") {
        alert("Specify a name for the map.");
        $("#name").css("border", "1px solid red");
    } else if (terrain === "") {
        alert("Specify a terrain type for the map.");
        $("#terrain").css("border", "1px solid red");
    } else {
        var marker1_coord = marker1.getLngLat();
        var marker2_coord = marker2.getLngLat();

        var get_data = {
            "lat_a": marker1_coord.lat,
            "lng_a": marker1_coord.lng,
            "lat_b": marker2_coord.lat,
            "lng_b": marker2_coord.lng,
            "name": name,
            "terrain": terrain
        };

        $.get("/start_download", get_data).done(function(result) {
            if (result["success"] == 1) {
                alert("Starting terrain download");
            } else {
                alert("Something went wrong while starting download");
            }
        });
    }
});
</script>
